[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
  url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/yoda.vim"]
  path = bundle/yoda.vim
  url = http://github.com/kyuhi/yoda.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = http://github.com/groenewege/vim-less.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-symfony"]
	path = bundle/vim-symfony
	url = git://github.com/docteurklein/vim-symfony.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git://github.com/helino/vim-json.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-behat"]
	path = bundle/vim-behat
	url = git://github.com/veloce/vim-behat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = git://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/jhaskell/snipmate.vim.git
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = https://github.com/evidens/vim-twig
[submodule "bundle/php-getter-setter"]
	path = bundle/php-getter-setter
	url = https://github.com/docteurklein/php-getter-setter.vim.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
  url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/php.vim"]
	path = bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/drupalvim"]
	path = bundle/drupalvim
	url = http://git.drupal.org/project/vimrc.git
[submodule "bundle/vim-hack"]
	path = bundle/vim-hack
	url = git://github.com/hhvm/vim-hack.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = git@github.com:Townk/vim-autoclose
[submodule "/home/kazanir/.vim/bundle/auto-pairs"]
	path = /home/kazanir/.vim/bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/php-foldexpr.vim"]
	path = bundle/php-foldexpr.vim
	url = git://github.com/swekaj/php-foldexpr.vim
[submodule "bundle/phpcomplete-extended"]
	path = bundle/phpcomplete-extended
	url = git@github.com:m2mdas/phpcomplete-extended.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim
